@import "pass-lib";
body{
    background-color: #ecf0f5;
}

#login-container{
    background-color: #ecf0f5;

    .error{
        color: red;
    }
    .success{
        color: green;
    }
    .panel-top{
        margin-top: 30px !important;
    }
    .btn-submit{
        margin-bottom: 15px;
    }
  
}