@import "pass-lib";
#dashboard {
	.upcoming-invoice{
		td{
			padding: 15px;
		}
		th{
			padding-left: 15px;
			padding-right: 15px;
		}
		tr:nth-child(odd) {
		  background-color: #ffffff;
		}

		tr:nth-child(even) {
		  background-color: #f0f0f0;
		}
	}
	
}
