#media-access, #investor {
  padding-right: 15px;
  margin: 0px;
}

#media-access p, #media-access label, #investor p, #investor label {
  color: #A4A2A2;
}

#media-access label, #investor label {
  font-weight: 500;
}

#media-access .row, #investor .row {
  margin-bottom: 15px;
}

#media-access .sub-title, #investor .sub-title {
  margin-bottom: 15px;
}

#media-access .table-header, #investor .table-header {
  background-color: #F0F0F0;
}

#media-access table tr th, #investor table tr th {
  color: #A4A2A2;
}

#media-access table tr td, #investor table tr td {
  color: #A4A2A2;
}

#media-access table tr td a, #investor table tr td a {
  color: #A4A2A2;
}

#media-access table tr td a i, #investor table tr td a i {
  color: #A4A2A2;
}

#media-access .paginate, #investor .paginate {
  color: black;
}

#media-access hr, #investor hr {
  border-top: 1px solid #CBC7C7;
}

#media-access .btn, #investor .btn {
  margin-left: 10px;
  color: white;
  border-radius: 0px;
}

#media-access .btn-export, #investor .btn-export {
  background-color: #A4A2A2;
}

#media-access .btn-delete, #investor .btn-delete {
  background-color: #A4A2A2;
}

#media-access .btn-paginate, #investor .btn-paginate {
  background-color: black;
  color: white;
}

#media-access .btn-undo, #investor .btn-undo {
  background-color: #A4A2A2;
  opacity: 0.6;
}

#media-access .check-event, #investor .check-event {
  margin-left: 5px;
  margin-right: 5px;
}
